@import "../../styles/styles.scss";

@mixin buttonOutline($colorName, $color) {
  &--#{$colorName} {
    color: $color;

    .button__text {
      color: $color;
    }

    .button__arrow {
      path {
        stroke: $color;
      }
    }

    &.button--outline {
      border: 1px solid $color;
    }
  }
}

.button {
  padding: rem(12) rem(26);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  cursor: pointer;
  transition: 0.25s ease-in-out;
  border-radius: rem(100);

  &__text {
    display: block;
    font-size: rem(16);
    white-space: nowrap;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $color_main__text;
    transition: 0.25s ease-in-out;
    border: 1px solid white;

    &:hover {
      background-color: $color_main__dark-gunmetal--opacity-01;
    }
  }

  &__arrow {
    path {
      stroke: $color_main__text;
    }

    &--none {
      display: none;
    }

    &--90deg {
      transform: rotate(90deg);
    }
  }

  &--flat {
    background-color: #20976c;
    border: none;

    &:hover {
      background-color: darken(#20976c, 5%);
    }
  }

  @include buttonOutline("white", white);
  @include buttonOutline("green", #20976c);
}

.triangle_right {
  &--none {
    display: none;
  }
}
