@import "../../styles/styles.scss";

body {
  padding-right: 0 !important;
}

.hero {
  background: linear-gradient(90.46deg, #0a61b4 0.42%, #074581 99.63%);
  position: relative;
  top: -1px;
  padding-top: rem(150);
  padding-bottom: rem(150);

  @include extraSmall {
    padding-bottom: rem(130);
  }

  @include small {
    // padding: rem(130) 0;
  }

  &__container {
    position: relative;
    z-index: 1100;
  }

  &__title {
    color: white;
    font-size: rem(64);
    font-weight: 400;
    margin-top: 0;
    text-transform: capitalize;

    @include larger {
      font-size: 60px;
    }

    @include large {
      font-size: 54px;
    }

    @include medium {
      font-size: 48px;
    }

    @include small {
      font-size: 42px;
    }

    @include extraSmall {
      font-size: 36px;
    }
  }

  &__background {
    img {
      position: absolute;
      top: 72px;
      left: 0;
      width: 100%;
      height: rem(330);
      z-index: 1050;
      min-width: 1440px;

      @include extraLarge {
        left: 50%;
        transform: translateX(-50%);
      }

      @include extraSmall {
        height: rem(310);
      }
    }
  }
}

.content {
  margin-top: rem(60);

  @include small {
    margin-bottom: rem(20);
  }
  &__wrapper {
    display: flex;
    gap: rem(20);
    padding-bottom: rem(60);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  &__container {
    flex: 1 1 75%;
  }

  h1 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 2rem;
  }

  h2 {
    font-size: 18px;
    line-height: 25px;
    margin-top: 1.75rem;
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 1.5rem;
  }

  p {
    line-height: 1.8;
  }

  li {
    line-height: 2.2;
  }

  a {
    color: $color__success;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: lighten($color__success, 20%);
    }
  }
}

.sidebar {
  flex: 1 1 25%;
  
  @include small {
    box-sizing: border-box;
    padding: 1rem 2rem 1rem 1rem;
    padding-top: rem(86);
  }
  dl {
    margin-top: rem(5);
    margin-bottom: 1.5rem;
  }
  dt,
  dd {
    margin-left: 0;
    margin-bottom: 0.75rem;
  }

  dt {
    font-weight: 600;
    font-family: $font_family__GotamRoundedBold, sans-serif;
  }
  dd {
    a {
      color: $color_main__text;
      text-decoration: none;
      text-transform: capitalize;

      &:hover {
        color: #555;
      }
    }
  }

  &--disabled {
    display: none;
  }
}

.breadcrumbs {
  margin-bottom: rem(24);
  a,
  p {
    text-transform: capitalize;
  }

  a {
    color: lighten($color_secondary__text, 20%);
    text-decoration: none;
    &:hover {
      color: $color_secondary__text;
    }
  }

  svg {
    path {
      stroke: lighten($color_secondary__text, 20%);
    }
  }
}

.mobile_button {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color__primary;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 1500;
  transition: 0.4s;
  cursor: pointer;

  svg {
    height: 30px;
    width: 30px;
    path {
      fill: white;
    }
  }

  &--disabled {
    display: none;
  }
}

.link--active {
  color: $color__primary !important;
}
