@import "../../styles/styles.scss";

.header {
  background: linear-gradient(90.46deg, #0a61b4 0.35%, #074581 99.56%);
  transition: 0.4s ease-in-out;
  position: relative;
  z-index: 1150;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      display: block;
    }
  }

  &--scrolled {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: none;
    background-color: white;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);

    svg {
      path {
        fill: $color__primary;
      }
    }
  }
}

.media {
  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: rem(24);

    @include larger {
      gap: rem(20);
    }

    @include large {
      gap: rem(16);
    }

    @include medium {
      gap: rem(10);
    }

    @include small {
      gap: rem(0);
      > :nth-child(n + 5) {
        display: none;
      }
    }

    @include extraSmall {
      > :nth-child(n + 3) {
        display: none;
      }
    }
  }
}
