@import "../../styles/styles.scss";

.footer {
  position: relative;
  background-color: white;
  z-index: 1200;
  padding: rem(20) 0;
  &__container {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 20px;

    p {
      letter-spacing: 0.008px;
      color: $color_main__text;
      margin-top: 0;
    }
  }

  &__copyright {
    display: flex;
    gap: 5px;

    @include medium {
      flex-direction: column;
      gap: 10px;
    }
    &-s {
      @include medium {
        display: none;
      }
    }

    a {
      color: $color_main__text;

      &:hover {
        color: lighten($color_main__text, 20%);
      }
    }
  }

  &__syd {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
