@import "./styles/styles.scss";

body,
html {
  margin: 0;
  font-family: $font_family__Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: $font_size__desktop;
  color: $color_main__text;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include large {
    font-size: $font_size__tablet;
  }

  @include small {
    font-size: $font_size__mobile;
  }
}

body {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_family__GotamRoundedBold, "Candara",'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
}
